body {
    margin: 0px;
    padding: 0px;
<<<<<<< HEAD
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
=======
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
>>>>>>> 2cbc8c38a177df6a6dee71969054284f5fe0ede2
    color: #484848;
    font-size: 14px;


<<<<<<< HEAD
}
=======
}

>>>>>>> 2cbc8c38a177df6a6dee71969054284f5fe0ede2
